body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.buttons {
    
}